<div class="wrapper flex sb">
    <div class="left flex column sb grow-1">
        <div class="flex column">
            <label for="amount">Amount</label>
            <input type="number">
        </div>

        <div class="conversion-rate">1 EUR = XX XX USD</div>
    </div>
    <div class="right flex column sb grow-2">
        <div class="flex sb align-c">
            <div class="flex column">
                <label for="amount">From</label>
                <select name="" id="">
                    <option value="">USD</option>
                </select>
            </div>
            <img class="convert-icon" src="../../../assets/icons/convert-arcolumn.png" alt="">
            <div class="flex column">
                <label for="amount">To</label>
                <select name="" id="">
                    <option value="">EUR</option>
                </select>
            </div>
        </div>
        <button class="btn">Convert</button>
        <div class="flex result-section align-c">
            <div class="result grow-1">XX.XX USD</div>
            <button class="btn more-details-btn grow-1">More Details</button>
        </div>
    </div>
</div>
