@import "../../../assets/css/variables.scss";

:host {
    .wrapper {
        height: 28vh;
        border: 1px solid $white;
        padding: 10px;

        .left {
            width: 350px;
            padding-right: 20px;

            .convert-icon {
                padding: 0px 20px;
                border: 1px solid $white;
                width: 90px;
                height: 45px;
            }

            .conversion-rate {
                border: 1px solid $white;
                border-radius: 6px;
                text-align: center;
                padding: 10px;
            }
        }

        .right {
            .disabled {
                cursor: not-allowed;
            }

            .convert-icon-wrapper {
                padding: 0 20px;
                font-size: 20px;
                max-width: 60px;
                cursor: pointer;
            }

            .result-section {
                .result {
                    border: 1px solid $white;
                    border-radius: 6px;
                    padding: 20px 0;
                    margin-right: 10px;
                    text-align: center;
                }
            }
        }
    }

    .tile {
        border: 1px solid #ffffff;
        width: 32%;
        height: 180px;
        float: left;
        margin: 20px 17px 0 0;
        padding: 10px;

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }

    .history-chart {
        border: 1px solid #ffffff;
        margin-top: 20px;
        height: auto;
    }


    /* For Desktop View */
    @media screen and (min-width: 1024px) {
        .wrapper {
            height: 30vh;
        }

        .tile {
            border: 1px solid #ffffff;
            width: 32%;
            height: 180px;
            float: left;
            margin: 20px 17px 0 0;
            padding: 10px;

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }

    /* For Tablet View */
    @media screen and (min-device-width: 768px) and (orientation: portrait) {
        .tile {
            width: 32%;
            margin: 20px 6px 0 0;

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }

    /* For Mobile Portrait View */
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) and (orientation: portrait) {
        .wrapper {
            height: 28vh;
            font-size: 12px;

            .left {
                .conversion-rate {
                    padding: 5px;
                }
            }

            .right {
                .result {
                    padding: 10px 0;
                }
            }
        }

        .tile {
            width: 31%;
            margin: 20px 10px 0 0;
            padding: 8px;

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }
}