@import "./variables.scss";

.ce-btn {
    height: 40px;
    color: $white;
    background: $blue-500;
    border: 1px solid $blue-500;
    cursor: pointer;
    &:hover {
        background: $blue-700;
        border-color: $blue-700;
    }
}