<header>
    <nav class="navbar">
        <a class="navbar-brand">
            <img src="../../../assets/icons/app-logo.png" alt="" srcset="">
        </a>

        <div class="details-section">
            <ul class="list">
                <li class="item" (click)="showHistoryChart(true, 'USD')">{{ 'main.header.eu-us-details' | translate }}</li>
                <li class="item" (click)="showHistoryChart(true, 'GBP')">{{ 'main.header.eu-gb-details' | translate }}</li>
            </ul>
        </div>
    </nav>
</header>
